body{
    margin: 0px;
}

.example-card {
    max-width: 200px;
    
    margin-top: 185px;
    
.example-header-image {
    background-image: url('/assets/images/dress1.PNG');
    background-size: cover;
  }
  
}



  